<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="POE2Tools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<POE2Tools.Properties.Settings>
   <setting name="trkUpdateRate" serializeAs="String">
    <value>8</value>
   </setting>
   <setting name="chkDebugMode" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="txtFlaskCooldown1" serializeAs="String">
    <value>200</value>
   </setting>
   <setting name="chkFlaskHighLife1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskLowLife1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskHighShield1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskLowShield1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskHighMana1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskLowMana1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskCooldown1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="txtFlaskCooldown2" serializeAs="String">
    <value>4000</value>
   </setting>
   <setting name="chkFlaskHighLife2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskLowLife2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskHighShield2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskLowShield2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskHighMana2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskLowMana2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkFlaskCooldown2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="txtSkillCooldown1" serializeAs="String">
    <value>4000</value>
   </setting>
   <setting name="chkSkillHighLife1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowLife1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighShield1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowShield1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighMana1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowMana1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillCooldown1" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="txtSkillCooldown2" serializeAs="String">
    <value>4000</value>
   </setting>
   <setting name="chkSkillHighLife2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowLife2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighShield2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowShield2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighMana2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowMana2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillCooldown2" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="txtSkillCooldown3" serializeAs="String">
    <value>4000</value>
   </setting>
   <setting name="chkSkillHighLife3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowLife3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighShield3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowShield3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighMana3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowMana3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillCooldown3" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="txtSkillCooldown4" serializeAs="String">
    <value>4000</value>
   </setting>
   <setting name="chkSkillHighLife4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowLife4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighShield4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowShield4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighMana4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowMana4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillCooldown4" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="txtSkillCooldown5" serializeAs="String">
    <value>4000</value>
   </setting>
   <setting name="chkSkillHighLife5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowLife5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighShield5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowShield5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillHighMana5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillLowMana5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkSkillCooldown5" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="chkDrawText" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="trkColorTolerance" serializeAs="String">
    <value>5</value>
   </setting>
  </POE2Tools.Properties.Settings>
	</userSettings>
</configuration>